body {
    font-family: Arial, sans-serif;
}

.country-form[data-selected=false] {
    display: none
}

#selected-countries-list>li button {
    margin-left: 1em;
}

.addresses {
    margin-top: 20px;
    padding: 20px;
    font-size: 18px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    border-color: black;
    border: dotted;
    line-height: 1.5;
}

.pagination {
    margin-top: 20px;
}

.pagination button {
   margin-right: 15px;
   height: 50px;
   width: 100px;
}
